[submodule "libopencm3"]
	path = libopencm3
	url = https://github.com/libopencm3/libopencm3
[submodule "code/nfw/libopencm3"]
	path = code/nfw/libopencm3
	url = https://github.com/libopencm3/libopencm3
